Package: com.darthplagueiswise.fbtweak.messenger
Name: FBTweak Messenger Flags
Version: 1.1.0
Architecture: iphoneos-arm64
Description: Tweak rootless para Messenger iOS 574. Employee, Internal Settings/Tools e Homebase/Household com menu compacto em Liquid Glass.
Maintainer: darthplagueiswise
Author: darthplagueiswise
Section: Tweaks
Depends: mobilesubstrate
